/* s */
/* e */
/* f */
/* t */
/* y */

@import url('https://fonts.googleapis.com/css?family=Bricolage+Grotesque&display=swap');

:root {
  --base-color: hsl(220, 0%, 5%); /* tlo */
  --base-variant: hsl(220, 0%, 10%); /* tlo 2 */
  --items-background: hsl(220, 0%, 6%); /* tlo rzeczy */
  --border-color: hsl(220, 0%, 10%); /* krawedzie */
  --primary-text: hsl(0, 0%, 90%); /* tekst 1 */
  --secondary-text: hsl(0, 0%, 60%); /* tekst 2 */
  --tertiary-text: hsl(0, 0%, 30%); /* tekst 3 */
  --first-gradient: #3797bd; /* gradient 1 */
  --second-gradient: #4e6fcc; /* gradient 2 */
  --shadow-color: hsl(0, 0%, 30%); /* cien */
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: Bricolage Grotesque;
  color: var(--primary-text);
  background-color: var(--base-color);
  /* background: conic-gradient(from 90deg at 1px 1px, var(--base-color) 90deg, var(--base-variant) 0) 0 0/75px 75px; */
  overflow: visible;
  overflow-x: hidden;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colored-text {
  background: -webkit-linear-gradient(var(--first-gradient), var(--second-gradient)); 
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

#copyright {
  font-size: 105%;
  color: var(--secondary-text);
  position: fixed;
  left: 1%;
  bottom: 1%;
  font-variant: small-caps;
  animation: fade-up 1s;
  border: 1px solid var(--border-color);
  background: var(--items-background);
  backdrop-filter: blur(5px);
  padding: 5px;
  padding-bottom: 8px;
  border-radius: 5px;
}

h1 {
  animation: fade-down 1s;
  text-align: center;
}

h1, h2, #sort-title {
  font-weight: normal;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 34.5%;
  height: 53px;
  background: var(--items-background);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  animation: fade-down 1s;
  transition: scale 0.5s
}

.navbar:hover {
  scale: 105%;
}

.navbar img {
  height: 40px;
  width: 40px;
}

.navbar button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 120%;
}

#searchInput {
  background-color: rgba(0, 0, 0, 0);
  font-size: 100%;
  border-style: none;
  outline: none;
  color: white;
  padding: 18px;
  width: 1000px;
  text-align: center;
  font-family: Bricolage Grotesque;
}

.sorting {
  color: #fff;
  padding: 7px;
  text-align: center;
  font-family: Bricolage Grotesque;
  background: var(--items-background);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  cursor: pointer;
}

#sort {
  animation: fade-up 1s;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sort-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#count {
  animation: fade-up 1s;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); /* Responsive grid */
  justify-content: center;
  align-items: start;
  gap: 15px;
  width: 90%;
  margin-top: 30px;
}

#player-card {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  background: var(--items-background);
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

#player-info {
  display: flex;
  flex-direction: row;
  gap: 7.5px;
  align-items: center;
}

#player-title {
  font-size: 1.5rem;
}

#player-id {
  font-size: 1.5rem;
  color: var(--secondary-text);
}

#player-identifiers {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.identifier {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.name {
  color: var(--secondary-text);
  margin-bottom: -10px;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#and {
  font-size: 75%;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(150px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
