/* s */
/* e */
/* f */
/* t */
/* y */

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik";
  color: #fff;
  background: rgb(11, 10, 14);
  background: linear-gradient(135deg, rgba(11, 10, 14, 1) 0%, rgba(10, 9, 13, 1) 56%, rgba(10, 10, 14, 1) 100%);
  overflow: visible;
  overflow-x: hidden;
  text-align: center;
}

.colored-text {
    background: -webkit-linear-gradient(#08c767, #0084ff); 
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
  }  

h1 {
    font-family: Rubik;
    font-size: 180%;
    font-weight: bold;
}

h2 {
    font-size: 100%;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 20px;
}

/* p {
    position: absolute;
    left: 835px;
    margin-top: 0px;
    opacity: 0%;
} */

::placeholder {
    font-size: 95%;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    margin-top: -10px;
}

#copyright {
  font-size: 105%;
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 1%;
  bottom: 1%;
  font-variant: small-caps;
  animation: fade-up 1s;
}

input {
  background-color: #110f16;
  font-size: 100%;
  border-style: none;
  border-radius: 15px;
  outline: none;
  color: white;
  padding: 18px;
  font-family: Inter;
  font-weight: bolder;
  margin: 25px;
  height: 10px;
}

button {
  color: #fff;
  font-size: 115%;
  font-weight: bold;
  padding: 11px;
  padding-right: 54px;
  padding-left: 54px;
  text-align: center;
  font-family: Inter;
  background: -webkit-linear-gradient(rgb(98, 64, 201), rgb(104, 69, 209)); 
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  margin-top: 25px;
  width: 225px;;
}

#and {
  font-size: 75%;
}

#card {
    animation: fade-down 1s;
    position: absolute;
    top: 100px;
    left: 40%;
    border-radius: 50px;
    padding: 15px;
    padding-bottom: 35px;
    padding-top: 10px;
    background: -webkit-linear-gradient(rgb(11, 10, 15), rgb(12, 11, 15));
    background-clip: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #111118;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
